MarketPlace/Service References/MarketPlaceService/MarketPlaceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MarketPlaceService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:32173/MarketPlaceService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:32173/MarketPlaceService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:32173/MarketPlaceService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MarketPlace.Model.Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMarketPlaceService_GetProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProduct" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_GetProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductResponse" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_CreatePurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:CreatePurchase" />
  </wsdl:message>
  <wsdl:message name="IMarketPlaceService_CreatePurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreatePurchaseResponse" />
  </wsdl:message>
  <wsdl:portType name="IMarketPlaceService">
    <wsdl:operation name="GetProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketPlaceService/GetProduct" message="tns:IMarketPlaceService_GetProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketPlaceService/GetProductResponse" message="tns:IMarketPlaceService_GetProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreatePurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IMarketPlaceService/CreatePurchase" message="tns:IMarketPlaceService_CreatePurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMarketPlaceService/CreatePurchaseResponse" message="tns:IMarketPlaceService_CreatePurchase_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMarketPlaceService" type="tns:IMarketPlaceService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetProduct">
      <soap:operation soapAction="http://tempuri.org/IMarketPlaceService/GetProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreatePurchase">
      <soap:operation soapAction="http://tempuri.org/IMarketPlaceService/CreatePurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MarketPlaceService">
    <wsdl:port name="BasicHttpBinding_IMarketPlaceService" binding="tns:BasicHttpBinding_IMarketPlaceService">
      <soap:address location="http://localhost:32173/MarketPlaceService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>